<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edit | SIMS</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!--custom css 
	<link rel="stylesheet" type="text/css" href="./css/custom.css">
	-->
	<style>
		body{
			background-color: whitesmoke;
			height: 100%;
			}
		.main-header{
			padding-top: 120px;
			padding-bottom: 90px;
			background: linear-gradient(45deg, #6e77a8, #0f7699);
		}

		h1{
			color: white;
		}

		footer{
			background-color: #0c0c0c;
		    padding: 20px 0 10px;
		    color: #c3c3c3;
		    display: block;
		    position: relative;
		    bottom: 0;
			width: 100%;
		    text-align: center;
		}
	</style>

</head>
<body>
	<header class="main-header">
		<h1 class="text-center"> Edit Student </h1>
	</header>

	<section class="container">
		<%- include('partials/navbar') %>
		<br>
		<form  method="POST" action="/student/<%= student._id %>">
		  <div class="form-group">
		    <input type="text" class="form-control"  name="firstname" value="<%= student.firstname %>" placeholder="First Name" required>
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" name="lastname" value="<%= student.lastname %>" placeholder="Last Name" required>
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" name="regno" value="<%= student.regno %>" placeholder="Registration Number" required>
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" name="dept" value="<%= student.dept %>" placeholder="Department" required>
		  </div>
		   <div class="form-group">
		    <input type="email" class="form-control" name="email" value="<%= student.email %>" placeholder="Email" required>
		  </div>
		  <!-- <div class="form-group">
		    <input type="text" class="form-control" name="sex" value="<%= student.sex %>" placeholder="Sex" required>
		  </div> -->
		   <div class="form-group">
		    <select class="form-control" name="sex" >
		    	<% if(student.sex === 'Male'){   %>
		    			<option value="Male" selected>Male</option>
		    			<option value="Female">Female</option>
		    	<% }else{  %>
		    			<option value="Female" selected>Female</option>
		    			<option value="Male" >Male</option>
		    	<% } %>
		    	<!--<option selected>Sex</option> -->	      		
	      	</select>
		  <button type="submit" class="btn btn-success glyphicon glyphicon-send"> Update</button>
		</form>
	</section>

	<br>
	<br>
	<main class="container">
			
	</main>
	
	<br>
	<br>
	<div>
		<%- include('partials/footer') %>
	</div>
</body>
</html>